$bg-color-white: #ffffff;
$bg-color-dark-grey: #2f303a;
$bg-color-almost-white: #f5f4fa;
$bg-color-light-grey: #c4c4c4;
$text-color-primary: #757575;
$text-color-secondary: #212121;
$text-color-accent: #2196f3;
$text-color-studio-up: #000000;
$border-color-header: #ececec;
$border-color-projects: #eeeeee;
$icon-color: #afb1b8;
